h1 {
  color: blueviolet;
  margin: 50px 0px 0px 0px;
}

form {
  color: blueviolet;
  font-weight: bold;
}

input[type="submit"] {
  margin: 10px 100px;
  color: white;
  background-color: blueviolet;
  border: none;
  border-radius: 7px;
  padding: 16px 24px;
}
body {
  background: black;
}
::placeholder {
  max-width: 1600px;
}
